/* @font-face {
    font-family: 'myFirstFont';
    src: url(/public/Ranade_Complete/Fonts/WEB/fonts/Ranade-Variable.woff) format('truetype');
  } */


  body {
    margin: auto;
    padding: 8px;
    max-width: 624px;
    line-height: 2;
    letter-spacing: .2px;
}

h1, h2, h3, h4, h5 {
    margin-top: 24px;
    line-height: 1.5;
}

nav {
    align-items: center;
    border-bottom: 2px dotted black;
    margin-bottom: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

nav a:hover {
    text-decoration: underline;
}

nav div {
    border: 1px solid black;
    width: 24px;
    height: 24px;
    background-color: blueviolet;
    border-radius: 100%;
}

nav a {
    color: inherit;
    text-decoration: none;

}

nav h2 {
    line-height: .5;
}

main a {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    color: black;
    
    text-decoration-color: blueviolet;
}

footer a {
    color: black;
    
    text-decoration-color: blueviolet;
}

footer a:hover {
    text-decoration-color: black;
}

main a:hover {
    text-decoration-color: black;
}


.structure {
    list-style-type: none;
}

li {
    list-style-type: none;
}