:root {
    --bg-color: #FFFFFF;
    --fg-color: #404345; /* Slightly lighter shade for foreground */
    --box-shadow: hsl(193, 11%, 61%); /* As before, for contrast */
    --text-color-1: #000000; /* Much lighter for primary text */
    --text-color-2: #707477;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --acent: #5675D2;
    --acent-lighter: #678CFC;
    --content-width: 39em;
}



body {
    padding-top: .25em;
    margin: 0;
    font-family: var(--font-family)
    /* border-top: 4px solid var(--acent);
    background-color: var(--bg-color); */
    /* font-family: var(--font-family); */
}

.wrap {
    max-width: var(--content-width);
    margin: 0 auto;
}

.blob {
    margin-top: -80px;
    margin-left: -40px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: var(--acent);
}

main {
    padding: 2em;
    /* max-width: 624px; */
    margin-bottom: 1.875em;
    color: var(--text-color-1);
}


header {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    
}

.socials {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: .4em;
}

.copy {
    opacity: 65%;
    margin-top: 3em;
}

footer {
    color: var(--text-color-1);
    padding-left: 2em;
    padding-right: 2em;
}

.og-image {
    margin: auto;
    text-align: center;
    background-color: var(--bg-color);
}

.og-image h1 {
    color: var(--text-color-1);
}

section {
    margin-bottom: 4em;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #5675D2;
    color: var(--text-color-1);
}
a:hover {
    text-decoration-color: var(--text-color-2);
}

/* aside {
    background-color: var(--fg-color);
    padding: 12px;
    color: var(--text-color-1);
    box-shadow: 6px 6px var(--box-shadow);

} */

aside {
    border-left: 4px solid var(--box-shadow);
    padding-left: 12px;
    color: var(--text-color-1);

}

aside p {
    margin-bottom: .4em;
    margin-top: .375em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .4em;
    justify-content: start;
}

nav a {
    background-color: var(--acent);
    padding: .25em;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    /* box-shadow: 2px 2px 0px #FAE6B1; */
    font-weight: bold;
}

nav a:active, nav a:focus {
    transform: translate(1px, 1px);
    box-shadow: none;
}


nav a:hover {
    background-color: var(--acent-lighter);
}

.feed p {
    margin-top: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: .4em;
}

h2, h3, h4, h5 {
    line-height: 1.2;
}


p, li {
    font-size: 1.05rem;
    line-height: 1.6em;
}
