{{ define "_bottom"}}

</main>
<footer>
    <nav>
        <!-- <div><img class="avatar" src="/public/images/profile.jpg"/></div> -->
        <a href="/">home</a><a href="/posts">posts</a><a href="/projects">projects</a><a href="/bookmarks">bookmarks</a><a href="/logs">captain's log</a><a href="/about">about</a>
    </nav>
    <div class="socials">
        <a target="_blank" rel="noreferrer noopener" href="">linkedin</a>
        <a target="_blank" rel="noreferrer noopener" href="https://github.com/iamseeley">github</a>
        <a target="_blank" rel="noreferrer noopener" href="mailto:hello@tseeley.com">email</a>
        <a target="_blank" href="/public/cv.pdf">cv</a>
        <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/iamseeley">x</a> 
    </div>
    <p class="copy">
        <a href="/about">Thomas Seeley</a> © 2023 — <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1">BY-NC-SA 4.0</a>
    </p>

</footer>
</div>
</body>
</html>

{{end}}