{{ define "_bottom"}}

</main>
<footer>
    
    <div class="socials">
        <a target="_blank" rel="noreferrer noopener" href="https://github.com/iamseeley">github</a>
        <a target="_blank" rel="noreferrer noopener" href="mailto:hello@tseeley.com">email</a>
        <!-- <a target="_blank" href="/public/cv.pdf">cv</a> -->
        <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/iamseeley">x</a> 
    </div>
    <p class="copy">
        <a href="/about">Thomas Seeley</a> © 2024 — <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1">BY-NC-SA 4.0</a>
    </p>
</footer>
</div>
</body>
</html>

{{end}}