{{ define "page" }}
{{template "_top" .}}

        <section class="page-body">
            {{ .Page.Body | markDown }}
        </section>
        {{ if eq .Page.Title "Home"}}
            <section class="feed">
                {{ range .Feed }}
                    
                    {{ if eq .Collection "posts" }}
                        <div>
                            <h3><a href="">{{ .Title }}</a> 📜</h3></a>
                        </div>
                    {{ end  }}
                    {{ if eq .Collection "projects" }}
                    <div>
                        <h3><a href="">{{ .Title }}</a> 🛠️</h3>
                        <p>{{ .Description }}</p>
                    </div>
                    {{ end  }}
                    {{ if eq .Collection "bookmarks" }}
                    <div>
                        <h3><a href="">{{ .Title }}</a> 🔖</h3>
                    </div>
                    {{ end  }}
                    {{ if eq .Collection "logs" }}
                    <div>
                        <h3>{{ .Date }} ⛵</h3>
                        <p>{{ .Description }}</p>
                    </div>
                    {{ end  }}
                   
                {{ end }}

            </section>
            
        {{ end }}
        <section class="list">
        {{ if eq .Page.Title "Bookmarks"}}
            <ul>
                {{ range .Data.bookmarks }}
                
                {{ if eq .frontMatter.draft false}}
                <li>
                    <h4><a href="{{ .frontMatter.link }}"><strong>{{ .frontMatter.title }}</strong></a> by {{ .frontMatter.author }}</h4>
                    <p class="">{{ .frontMatter.description }}</p>
                </li>
                {{ end }}
                
            </ul>
        {{ end }}
    
        {{ else if eq .Page.Title "Posts" }}
            <ul>
                {{ range .Data.posts }}
                {{ if eq .frontMatter.draft false}}
                    <li>
                        <strong><a href="{{ .frontMatter.url }}">{{ .frontMatter.title }}</a></strong>
                        <time><em>{{ .frontMatter.date }}</em></time>
                    </li>
                {{end}}
                {{end}}
            </ul>
        {{ else if eq .Page.Title "Captain's Log" }}
            <ul>
                {{ range .Data.logs }}
                    {{ if eq .frontMatter.draft false }}
                    <li>
                        <article>
                        <!-- <p class="log-header"><strong>{{ .frontMatter.title }}</strong></p> -->
                        <h4><time><strong>{{ .frontMatter.date }}</strong></time></h4>
                        <p>{{ .frontMatter.description }}</p>
                        </article>
                    </li>
                    {{end}}
                {{end}}
            </ul>
        {{ end }}
    </section>
        
        {{template "_bottom" .}}
{{ end }}
