{{ define "page" }}
{{template "_top" .}}

        <section class="page-body">
            {{ .Page.Body | markDown }}
        </section>
        {{ if eq .Page.Title "Home"}}
            <section class="feed">
                {{ range .Feed }}
                    
                    {{ if eq .Collection "posts" }}
                        <div>
                            <h3><a href="">{{ .Title }}</a> 📜</h3></a>
                        </div>
                    {{ end  }}
                    {{ if eq .Collection "projects" }}
                    <div>
                        <h3><a href="">{{ .Title }}</a> 🛠️</h3>
                        <p>{{ .Description }}</p>
                    </div>
                    {{ end  }}
                    {{ if eq .Collection "logs" }}
                    <div>
                        <h3>{{ .Date }} ⛵</h3>
                        <p>{{ .Description }}</p>
                    </div>
                    {{ end  }}
                   
                {{ end }}

            </section>
            
        {{ end }}

        {{ if eq .Page.Title "Collections"}}
        {{ range .Data.collections }}
        {{ with .frontMatter }}
        {{ if eq .draft false}}
                <div class="card">
                    <div class="collect-header">
                    <div>
                    <a href="{{ .link }}"><strong>{{ .title }}</strong></a>
                    {{ .author }}
                    </div>
                    <div>
                    <span>{{ .type }}</span>
                    </div>
                    </div>
                    <p class="collect-p">{{ .summary }}</p>
                </div>
        {{end}}
        {{ end }}
        {{ end }}
        {{ else if eq .Page.Title "Posts" }}
            <ul class="home-list">
                {{ range .Data.posts }}
                {{ if eq .frontMatter.draft false}}
                    <li class="featured-posts">
                        <strong><a href="{{ .frontMatter.url }}">{{ .frontMatter.title }}</a></strong>
                        <time><em>{{ .frontMatter.date }}</em></time>
                    </li>
                {{end}}
                {{end}}
            </ul>
            {{ else if eq .Page.Title "Captain's Log" }}
            <ul class="home-list">
                {{ range .Data.logs }}
                    {{ if eq .frontMatter.draft false }}
                    <li class="featured-posts">
                        <article class="log">
                        <!-- <p class="log-header"><strong>{{ .frontMatter.title }}</strong></p> -->
                        <time><em>{{ .frontMatter.date }}</em></time>
                        <p>{{ .frontMatter.content }}</p>
                        </article>
                    </li>
                    {{end}}
                {{end}}
            </ul>
        {{ end }}
        
        {{template "_bottom" .}}
{{ end }}
