{{ define "page" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if eq .Page.Title "Home"}}
    <title>Thomas Seeley</title>
    {{ else }}
    <title>{{.Page.Title}} ~ Thomas Seeley</title>
    {{ end }}
    <link type="text/css" rel="stylesheet" href="/public/css/{{.Page.Theme}}.css">
</head>
<body>
    <div class="wrap">
    <div class="update"><div></div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-coffee"><path d="M17 8h1a4 4 0 1 1 0 8h-1"/><path d="M3 8h14v9a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4Z"/><line x1="6" x2="6" y1="2" y2="4"/><line x1="10" x2="10" y1="2" y2="4"/><line x1="14" x2="14" y1="2" y2="4"/></svg></div>
    <header>
        
        <nav>
            <div><div class="avatar"></div></div>
            <div class="link-container"><a href="/">home</a><a href="/posts">posts</a><a href="/notes">notes</a><a href="/collections">collections</a><a href="/about">about</a><a href="/photos">photos</a><a href="/logs">captain's log</a><a target="_blank" href="/public/cv.pdf">cv</a></div>
        </nav>
    </header>
    
    <main>
        
        <section>
            {{ .Page.Body | markDown }}
        </section>
        {{ if eq .Page.Title "Home"}}
            <section>
                <h3>Featured Posts</h3>
                {{ range .Data.posts }}
                {{ if .featured }}
                    <div class="featured-posts">
                        <a href="{{ .url }}">{{ .title }}</a>
                        <time><em>{{ .date }}</em></time>
                    </div>
                {{end}}
                {{end}}
            </section>
            <section>
                <h3>Recent Notes</h3>
                {{ range .Data.notes }}
                {{ if .featured }}
                    <div class="recent-notes">
                        <a href="{{ .url }}">{{ .title }}</a>
                        <time><em>{{ .date }}</em></time>
                    </div>
                {{end}}
                {{end}}
            </section>
            <section>
                <h3>Recent Logs</h3>
            </section>
            <section>
                <h3>Collections</h3>
            </section>
            <aside>
                <strong>About this site</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </aside>
        {{ end }}

        {{ if eq .Page.Title "Collections"}}
            {{ range .Data.collections }}
                <div>
                    <a href="{{ .url }}">{{ .title }}</a>
                    <p>{{ .type }}</p>
                    <p>{{ .description }}</p>
                </div>
            {{ end }}
        {{ else if eq .Page.Title "Posts" }}
            {{ range .Data.posts}}
                <div class="post-range">
                    <a href="{{ .url }}">{{ .title }}</a>
                    <p>{{ .date }}</p>
                </div>
            {{ end }}
        {{ else if eq .Page.Title "Notes" }}
                {{ range .Data.notes}}
                <div>
                    <a href="{{ .url }}">{{ .title }}</a>
                    <p>{{ .date }}</p>
                </div>
                {{ end }}
        {{ end }}
        

    </main>
    <footer><p class=""><a href="/about">Thomas Seeley</a> © 2023 — <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1">BY-NC-SA 4.0</a></p></footer>
    </div>
</body>
</html>
{{ end }}
