{{ define "post" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Page.Title}} ~ Thomas Seeley</title>
    <link type="text/css" rel="stylesheet" href="/public/css/{{.Page.Theme}}.css">
</head>
<body>
    <header><nav><div></div><a href="/">home</a><a href="/">post</a></nav></header>
    
    <main>
        <h2>{{.Page.Title}}</h2>
        {{ .Page.Body | markDown }}

    </main>
    <footer>made by <span><a href="https://tseeley.com">Thomas</a></span></footer>
</body>
</html>
{{ end }}